
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>中医药系统首页</title>
        <!-- js -->
        <script type="text/javascript" src="/common/jquery_1_8_3.js"></script>
        <script type="text/javascript" src="/home/js/home.js"></script>
        
        <!-- css -->
        <link rel=stylesheet type=text/css href="/home/css/home_common.css">
        <link rel=stylesheet type=text/css href="/home/css/home.css">
        <link rel=stylesheet type=text/css href="/home/css/home_main.css">
        
        <script src="/exlib/slides/js/slides.min.jquery.js" type="text/javascript"></script>
        <link href="/exlib/slides/css/slides.css" type="text/css" rel="stylesheet" media="screen, projection, tv" />
        
    </head>
    <body>
        <div class="top">
            <!-- nav -->
            <div>
                 

    <link rel="stylesheet" type="text/css" href="/commonpages/css/nav_header.css"></link>
    <link rel="stylesheet" type="text/css" href="/commonpages/dropdown/dropdown.css"></link>
    <script src="/commonpages/js/nav_header.js"></script>
	<div id="common_nav">
	    <div class="cf" id="common_nav_L2">
	        <ul>
	            <li>
	                <a title="注册" href="/user/registerpage" rel="nofollow">注册</a>
	            </li>
                
                    <li>
                        <a title="登录" href="/user/loginpage" rel="nofollow">登录</a>
                    </li>
                
	            
	            <li><a title="帮助中心" href="javascript:void(0);" rel="nofollow">帮助中心</a></li>
	            <li><a title="知识中心导航" href="javascript:void(0);" rel="nofollow">知识中心导航</a></li>
	            <li><a title="知识中心首页" href="http://www.udms.org/ckcest/" rel="nofollow">知识中心首页</a></li>
	            <li><a class="current" title="中草药系统首页"  href="" rel="nofollow">中草药系统首页</a></li>
	        </ul>
	    </div>
	</div>
            </div>
            
            <div class=logoSearch>
               <div class="logoSearch_L2">
                    <div class="logo">
                       <a href="/" target="_blank">
                           <img src="/home/Images/logo.png">
                       </a>
                   </div>
                   <div class="clearfix"></div>
        
                   <div id="search_cf" class="search cf">
                       <input id="search_input" class="text" maxLength="20" name="q"/>
                       <a class=button id="search_btn" href="javascript:void(0);"></a>
                       <span id="search_input_tip"></span>
                     <br/>
                     <br/>
                </div>
            </div>
        </div>
            
        </div>
        
        <!-- 5个子系统入口-->
        <div id="five-banners">
            <div id="first-banner" class="single-banner">
                <div id="banner-blank-first" class="banner-blank"> </div>
                <a href="/search/home"><img src="/home/Images/banner-search-before.png" id="first-banner-img" onmouseover="this.src='/home/Images/banner-search-after.png'" onmouseout="this.src='/home/Images/banner-search-before.png'"/></a>
            </div>
            <div id="fourth-banner" class="single-banner">
                <div id="banner-blank-fourth" class="banner-blank"> </div>
                <a href="/auxiliary/home"><img src="/home/Images/banner-medicine-before.png" id="fourth-banner-img" onmouseover="this.src='/home/Images/banner-medicine-after.png'" onmouseout="this.src='/home/Images/banner-medicine-before.png'"/></a>
            </div>
            <div id="fifth-banner" class="single-banner">
                <div id="banner-blank-fifth" class="banner-blank"> </div>
                <a href="/paper/home"><img src="/home/Images/banner-paper-before.png" id="fifth-banner-img" onmouseover="this.src='/home/Images/banner-paper-after.png'" onmouseout="this.src='/home/Images/banner-paper-before.png'"/></a>
            </div>
            <div id="third-banner" class="single-banner">
                <div id="banner-blank-third" class="banner-blank"> </div>
                <a href="http://10.15.62.205"><img src="/home/Images/banner-QA-before.png" id="third-banner-img" onmouseover="this.src='/home/Images/banner-QA-after.png'" onmouseout="this.src='/home/Images/banner-QA-before.png'"/></a>
            </div>
            <div id="second-banner" class="single-banner">
                <div id="banner-blank-second" class="banner-blank"> </div>
                <a href="/identification/home"><img src="/home/Images/banner-identify-before.png" id="second-banner-img" onmouseover="this.src='/home/Images/banner-identify-after.png'" onmouseout="this.src='/home/Images/banner-identify-before.png'"/></a>
            </div>
        </div>
        
        <div id="slides_example" style="width:1006px;">
            <div id="slides">
                <div class="slides_container" style="width:1006px;">
                    <a href="" target="_blank"><img src="/home/Images/banner04.png" width="1006" height="270"></a>
                    <a href="" target="_blank"><img src="/home/Images/banner04.png" width="1006" height="270"></a>
                    <a href="" target="_blank"><img src="/home/Images/banner04.png" width="1006" height="270"></a>
                    <a href="" target="_blank"><img src="/home/Images/banner04.png" width="1006" height="270"></a>
                </div>
                <a href="javascript:void(0);" class="prev"><img src="/exlib/slides/images/arrow-prev.png" alt="Arrow Prev"></a>
                <a href="javascript:void(0);" class="next" style="left:1006px;"><img src="/exlib/slides/images/arrow-next.png" alt="Arrow Next" ></a>
            </div>
        </div>

        <div id="news-display">
          <img src="/home/Images/news-display-title.png"/>
          <table id="news-display-content">
            <tr>
              <td class="news-date" id="news-date">2013-08-10</td>
              <td class="news-single-pre">
                                                   小细胞肺癌的中西医治疗-小细胞肺癌的中西医治疗-小细胞肺癌的中西医治疗-小细胞肺癌的中西医治疗-小细胞肺癌的中西医治疗···&nbsp;&nbsp;&nbsp;<a class="news-single-detail" href="#"><查看详细></a>
              </td>
            </tr>
            
            <tr>
              <td class="news-date" id="news-date">2013-08-10</td>
              <td class="news-single-pre">
                小细胞肺癌的中西医治疗-小细胞肺癌的中西医治疗-小细胞肺癌的中西医···&nbsp;&nbsp;&nbsp;<a class="news-single-detail" href="#"><查看详细></a>
              </td>
            </tr>
            
            <tr>
              <td class="news-date" id="news-date">2013-08-10</td>
              <td class="news-single-pre">
                小细胞肺癌的中西医治疗-小细胞肺癌的中西医治疗-小细胞肺癌的中西医治疗-小细胞肺癌的中西医治疗-小细胞肺癌的中西医治疗···&nbsp;&nbsp;&nbsp;<a class="news-single-detail" href="#"><查看详细></a>
              </td>
            </tr>
            
            <tr>
              <td class="news-date" id="news-date">2013-08-10</td>
              <td class="news-single-pre">
                小细胞肺癌的中西医治疗-小细胞肺癌的中西医治疗-小细胞肺癌的中西医···&nbsp;&nbsp;&nbsp;<a class="news-single-detail" href="#"><查看详细></a>
              </td>
            </tr>
          </table>
        </div>
        
        <!-- 产学研 -->
        <div id="pd-study-research" style="height:330px; width:1006px;
        background-image:url(/home/Images/black-transparent-bg.png); background-repeat:repeat; margin:0px auto 60px auto;">
          <img src="/home/Images/pd-study-research-title.png" style="margin-bottom:16px;"/>
          <div id="pd-show" class="single-pd-study-research">
              <img src="/home/Images/school-show.png" style="float:left;"/>
              <ul id="schools-list" class="pd-study-research-list">
                  <li class="list-title">高&nbsp;校</li>
                  <li><a href="http://www.bucm.edu.cn/portal/media-type/html/role/guest/page/login" target="_blank">北京中医药大学</a></li>
                  <li><a href="http://www.zjtcm.net/default.html" target="_blank">浙江中医药大学</a></li>
                  <li><a href="http://www.shutcm.com/" target="_blank">上海中医药大学</a></li>
                  <li><a href="http://www.gzhtcm.edu.cn/" target="_blank">广州中医药大学</a></li>
                  <li><a href="/prosturesearch?type=university" target="_blank">更多&raquo;</a></li>
              </ul>
          </div>
          
          <div id="pd-show" class="single-pd-study-research">
            <img src="/home/Images/corporate-show.png" style="float:left;"/>
            <ul id="schools-list" class="pd-study-research-list">
                <li class="list-title">企&nbsp;业</li>
                <li><a href="http://www.bzyy.com" target="_blank">北京中医药大学药厂</a></li>
                <li><a href="http://www.zjitcm.com/" target="_blank">浙江中药研究所公司</a></li>
                <li><a href="/prosturesearch?type=enterprise" target="_blank">更多&raquo;</a></li>
            </ul>
          </div>
          
          <div id="pd-show" class="single-pd-study-research">
            <img src="/home/Images/research-show.png" style="float:left;"/>
            <ul id="schools-list" class="pd-study-research-list">
	            <li class="list-title">科研机构</li>
	            <li><a href="http://www.catcm.ac.cn/" target="_blank">中国中医科学院</a></li>
	            <li><a href="/prosturesearch?type=research" target="_blank">更多&raquo;</a></li>
            </ul>
          </div>
          
          <div id="pd-show" class="single-pd-study-research">
            <img src="/home/Images/market-show.png" style="float:left;"/>
            <ul id="schools-list" class="pd-study-research-list">
	            <li class="list-title">市&nbsp;场</li>
	            <li><a href="http://www.zgycsc.com/" target="_blank">中国药材市场</a></li>
	            <li><a href="http://www.zzyycc.com/" target="_blank">中药材商贸网</a></li>
	            <li><a href="/prosturesearch?type=market" target="_blank">更多&raquo;</a></li>
            </ul>
          </div>
        </div>
        
       <!-- footer -->
        <div>
             
    <!-- 统计信息 -->
    
    <!-- Piwik -->
	<script type="text/javascript"> 
	  var _paq = _paq || [];
	  _paq.push(['trackPageView']);
	  _paq.push(['enableLinkTracking']);
	  (function() {
	    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://10.15.62.209/piwik//";
	    _paq.push(['setTrackerUrl', u+'piwik.php']);
	    _paq.push(['setSiteId', 1]);
	    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
	    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	  })();
	
	</script>
	<noscript><p><img src="http://10.15.62.209/piwik/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
	<!-- End Piwik Code -->
	
    <link rel="stylesheet" type="text/css" href="/commonpages/css/footer.css"></link>
    <div class="footer" style="margin-bottom:0px;">
           <div class=footer_L2>
               <div class="footer_about cf">
                   <dl class=dlLeft>
                       <dt>中草药专业知识服务系统</dt>
                       <dd>
                           <a href="" rel="nofollow" target="_blank">关于我们</a>
                       </dd>
                       <dd>
                           <a href="" rel="nofollow" target="_blank">加入我们</a>
                       </dd>
                       <dd>
                           <a href="" target="_blank">网站地图</a>
                       </dd>
                   </dl>

                   <dl class=dlLeft>
                       <dt>服务与支持</dt>
                       <dd>
                           <a href="/user/agreementpage" rel="nofollow" target="_blank">注册服务条款</a>
                       </dd>
                       <dd>
                           <a href="/user/feedback" rel="nofollow" target="_blank">意见反馈</a>
                       </dd>
                       <dd>
                           <a href="" rel="nofollow" target="_blank">版权申明</a>
                       </dd>
                   </dl>

                   <dl class=dlLeft>
                       <dt>用户中心</dt>
                       <dd>
                           <a href="" rel="nofollow" target="_blank">常见问题</a>
                       </dd>
                       <dd>
                           <a href="/user/loginpage" rel="nofollow" target="_blank">登录</a>
                           <a href="/user/registerpage" rel="nofollow" target="_blank">注册</a>
                       </dd>
                   </dl>


                   <dl class="dlLeft">
                       <dt>联系我们</dt>
                       <dd>邮政信箱：北京8068信箱</dd>
                       <dd>邮编：100088</dd>
                       <dd>服务热线：010-0000000</dd>
                   </dl>
               </div>

               <div class=footer_links>
                   <span class=footer_links_title>友情链接：</span> 
                   <span class=footer_links_list> 
                       <a href="" target="_blank">药典</a> 
                       <a href="" target="_blank">中医论坛</a> 
                       <a href="" target="_blank">中草药知识库</a>
                       <a href="" target="_blank">中医养生</a> 
                       <a href="" target="_blank">方剂库</a>
                       <a href="" target="_blank">药剂库</a> 
                       <a href="" target="_blank">中药知识大全</a>
                   </span>
               </div>

               <div class=footer_copy>
                   <div class=footer_copy_right>
                       <p>地址：北京市西城区冰窖口胡同2号</p>
                       <p>Copyright © 2008 中国工程院 ICP备案号:京ICP备05023557号</p>
                   </div>
               </div>
           </div>
       </div>
        </div>
    </body>
</html>